
.imageActivity{
    display: block;
    justify-content: center;
    margin:auto;
    width: 36rem;
    height: auto;
    border-radius: 10px;
}


.containerSlideSize{
    height: 33rem;
    width: 100%;
    margin: auto;
}

.h6SlideActivity{
    margin-top:1rem;
}
