.containerHome{
    height: 100%;
    width: 100%;
    background-color:rgb(32, 10, 67);
    display: flex;
    justify-content:space-around;
    align-items: flex-start; 
    padding: 0 10px;
    color:#fff;
}

.containerLeft{
    width: 40%;
    height: auto;
    color:#fff;
    border-radius: 1rem;
    margin: 4.5rem -7rem 0 0;
} 

.containerLeft p{
    text-align:justify;
    font-size: 25px;
    line-height: 2rem;
    padding:3rem;
    margin-bottom: 5px; 
}

.containerAddress{
    padding:0.5rem;
    display: flex;
}

.containerAddress a{
    display:flex;
    justify-content: center;
    margin-top: -2rem;
}

.containerAddress span{
    margin-left:0.2rem;
}

.containerAddress p{
    margin-top:-2rem; 
    margin-left: -2rem;
}


.buttonHome{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

.iconHome{
    margin: auto;
    width: 80%; 
    height: auto;
    color: #2abe1d;
    margin-bottom: 0rem;
    padding:0.5rem;
}

.iconPhone{
    font-size: 180%;  
    color: #2abe1d;  
}

.iconHomeMap{
    font-size: 200%;
    color: #2abe1d;
}

.iconPhone :hover,
.iconHome :hover,
.iconHomeMap :hover{    
    color:#fff;     
} 

.sliderHome{
    width: 50%;
}

.carousel-indicators{
    visibility:hidden;
}

.containerImgHalfScreen{
    background-color:rgb(32, 10, 67);
}

.imgHalfScreen{
    height: 48vh;
    width: 49vw;
    margin: 30% 0 0 1% ;
    border-radius: 0 0 10% 3%;
    filter: drop-shadow(0.3rem 0.3rem 0.2rem #fff); 
}

.containerLogin{
    width: 50vw;
    margin-top: 4rem;
    background-color: lightgrey;
    color:#0e0d0d;
    padding:1rem  0 0 0;
}

.google{
    margin-left: 75%;
}

.buttonLoginGoogle{
    display: flex;
    justify-content: flex-end;
    margin:1rem;
}

.containerLoginForm{
    max-width: 90%;
    margin:auto;
    display:flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.begginRegister{
    display:flex;
    /* align-items: center; */
    width: 50vw;
    height: 100vh;
    padding:3rem;
    margin-top:0rem;
    color:#0e0d0d;
    background-color:lightgray;
}

.labelRegister{
    display:flex;
    align-items: center;
    width:10rem;
}

 .registerMsj-Buttons{
    margin: auto;
    margin-left: 6rem;
    max-width:auto;
    text-align: center;
}

.registerMsj-Buttons-button{
    max-width:20%;
    line-height:30px;
}

.iconGreen{
    color: #2abe1d;
}

.iconRed{
   
    background-color: transparent;
}

.withoutBorder{
    border:transparent;
}

.errorsRegister{
    margin-left:3rem
}

.pEmailRegisterUserUpdate{
    margin-left: 34%;
    padding:5px;
    height: 1.2rem;
}

 .heart{
    background-color:rgb(252, 84, 84);
    width: 5rem;
    height: 5rem;
    margin:8.2rem 43em;
    transform: rotate(30deg); 
    border-radius: 0.3rem;
    animation: palpitar 2s linear infinite alternate;
    will-change:transform;
    position: absolute;
}

.heart::before, 
.heart:after{
    content:"";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(252, 84, 84);
    border-radius: 50%;
}

.heart::before{
    top:0;
    left:-50%;
}

.heart::after{
    top:-50%;
    left:0;
}

.heart p{
    font-size: 0.8rem;
    width:6rem;
    margin: auto;
    margin-left: -1rem;
    text-align: center;
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg); 
    color:#fff;
}

@keyframes palpitar{
    0%{
        transform:rotate(30deg) scale(1)
    }
    50%{
        transform:rotate(30deg) scale(1.2)
    }
}
