.containerTitle {
    margin-top:1.5rem;
    font-size: 16px;
}

.cardContainer{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 300px;
    height: 50rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation:ease-in;
    margin:1.5rem;
    margin-top:-3rem;
}
/* 
.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
} */


.cardContainerMember{
    display:flex;
    position:relative;
    width: 1920px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    margin-top: 2%;  
}

.cardContainerMember{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 300px;
    height: 47rem;
    box-shadow: 0px 0px 15px -5px;
    margin:1.5rem 0.5rem 1rem 1rem;
    padding:0.5rem;
}

.cardContainerOrganization{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 300px;
    height: 50rem;
    box-shadow: 0px 0px 15px -5px;
    margin:7rem 0.5rem 1rem 1rem;
}

.cardContainerAbout{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 1000px;
    height: 28.5rem;
    box-shadow: 0px 0px 15px -5px;
    margin:0rem 0rem 1.5rem 0.5rem;
}

.cardContainerAboutHorizontally{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 490px;
    height: 29rem;
    box-shadow: 0px 0px 15px -5px;
    margin:0rem 0.5rem 0.5rem 1rem;
}

.imageContainer {
    overflow: hidden;
    height: 12rem;
    margin:-12.3rem 0rem 0rem 0rem;
}

.imageContainerMember {
    height: 11rem;
    margin:-12rem 0rem -2rem -4rem ;
    display:flex;
    align-items: center;
    justify-content: center;
}

.cardContent{
    margin:1rem;
    margin-top: 0.6rem;
}

.cardContentMember{
    margin-top: -1rem;
}

.cardTitle {
    margin-bottom:0rem;
}

.cardImageMember{        
    height:7rem; 
    width: 8rem; 
    margin-left: 30%;
}

.cardImageOrganization{        
    height:13rem; 
    width:22rem; 
    margin-top:7%;
}

.cardImageAbout{        
    height:auto; 
    width:70%; 
    margin-left:14%;
}

.iconNetworks{
    width: 7%;
    margin-left:15px;
    margin-bottom: 10px;
}

.iconSocialNetworksOrganization{
    width: 4%;
    height: 4%;
    margin-left: 0.3%;
}

.fixedSizeCardMember{
    height:11rem;
}

.fixedSizeCardOrganization{
    height:10rem;
}


.fixedSizeCardWelcomeOrganization{
    height:6rem;
}
