 .cards{/* ✅ */
    column-count:2;
    column-width: 32rem;
    height:auto;
    padding-top:1.5rem;
 }

.card{/* ✅ */
    display: grid;
    grid-template-columns: 300px 1fr;
    max-width:95%; 
    break-inside: avoid;
    page-break-inside: avoid;
    margin:auto;
    margin-bottom:1rem;
    border-radius: 0.5rem;
    background-color: rgb(143, 135, 155);
    color:rgb(32, 10, 67);   
}

.card_publication{/* ✅ */
    position: relative;
    height: auto;
    overflow: hidden;
    width: 15rem;
}

.card_img{/* ✅ */
    position: absolute;
    width: 90%;
    height:stretch;
    border-radius: 0.5rem 0 0 0.5rem ;
    object-fit: cover;
    transition: transform .5s;
}

.iconPencil{/* ✅ */
    background-color: #fff;
    padding:0.2rem;
    margin-left: 0.2rem;
    border:0.15rem solid blue;
    color:rgb(32, 10, 67);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1.5px rgb(181, 181, 181);
}

.iconTrash{/* ✅ */
    background-color: #fff;
    padding:0.2rem;
    border:0.15rem solid red;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0px 1.5px rgb(181, 181, 181);
}

.card_publication div{/* ✅ */
    font-size:1.8rem;
    color:rgb(32, 10, 67);
    position: absolute;
    padding:0.2rem;
    display: block;
}  

.card_info{/* ✅ */
    position: relative;
    padding: 1rem;
    margin-left: -5rem;
}

.card_title{/* ✅ */
    font-size: 1.5rem;
}

.card_subtitle{/* ✅ */
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1rem;
} 

.iconTrash:hover,
.iconPencil:hover{/* ✅ */
    transform: scale(1.3);
}


