.card-container{
    display: flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    width: 300px;
    height: 50rem;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation:ease-in;
    margin:1.5rem;
}

.card-container:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px 0px;
}

.image-container {
    overflow: hidden;
    height: 19rem;
    margin-top:-24px
}

.card-content{
    margin:1rem;
    margin-top: 0.6rem;
}

.card-title {
    margin-bottom:0.5rem;
}

.card-image{        
    height:18rem; 
    width: 19rem; 
}

.iconNetworks{
    width: 7%;
    margin-left:15px;
    margin-bottom: 10px;
}