


.containerRegisterContactForm{
    width: 60%;
    margin:auto;
    display:flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    align-items: center;
    padding:1rem;
}

.labelWidthContactForm{
    width:12rem;
    text-align: left;
}