.containerRegisterContactForm{
    width: 48rem;
    margin:auto;
    background-color:lightgrey; 
    color:black;  
    border-radius: 15px; 
    text-align: center;
}

.labelWidthContactForm{
    width:12rem;
    text-align: left;
}