header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 60px;
    padding:0.2rem 2rem 0.2rem 0rem;
    background-color:#0e0d0d !important;
}

header h5 {
    margin-left: 20px;
    width: 12rem;
    color: #fff;
}

.handsLogo{
    width: 20%;
}

.nav-btn{
    padding:5px;
    cursor:pointer;
    border:none;
    outline: none;
    background-color:#0e0d0d !important;
    color:#fff;
    opacity:0;
    visibility: hidden;
    font-size: 1.8rem;
}

.NavDropdown-Item{
    color:#fff;
    text-decoration: none;
    color:#0e0d0d;
}

.imageNavBar{
    width: 4%;
    border-radius: 50%;
    box-shadow:1px 0px 5px 1px grey;
}

.shadowFilterHeader{
    filter:drop-shadow(4px 6px 5px #fff)
}

.shadowFilterNav{
    filter:drop-shadow(2px 1px 1px #fff)
}
 
footer{
    background-color:#0e0d0d;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    width: 100%;
    height: 3rem;
    padding:0.5rem 0rem 0.5rem 1rem;
}

footer nav{
    display: flex;
    align-items: center;
    justify-content:baseline;
    font-size: 1px;
}

.iconMapFooter{
    width: 4%;
    border:2px solid grey;
    margin-right:20px;
    border-radius: 50px;
    box-shadow:1px 0px 2px 1px rgb(180, 178, 178);
}

.iconFacebookInstagramFooter{
    width: 11%;
    border-radius: 50px;
    margin-right: 20px;
    box-shadow:1px 0px 2px 1px rgb(180, 178, 178);
}

.iconEmailFooter{
    width: 11%;
    border-radius: 50px;
    margin-right: 20px;
    box-shadow:1px 0px 2px 1px rgb(180, 178, 178);
}
