.containerNavbar{
    display:flex;
    flex-wrap:wrap;
}

nav{
    display: flex;
    align-items: baseline;
}

.NavDrop{
    margin:0px 0px 0px 18%;
    width: 40%;
    text-decoration: none;
    color:#390788;
}

.shadowFilterNav{
    filter:drop-shadow(2px 1px 1px #fff)
}

.menuItem{
    text-decoration: none;
    color:#390788;
}

.navbarUser{
    margin-top: -200%;
}

.imageNavBar{
    width: 30%;
    border-radius: 50%;
    box-shadow:1px 0px 5px 1px grey;
    margin: 0 0 1% 35%;
}

.iconNavbar{
    color:#390788;
}

.iconNavbarLogout{
    color:#390788;
    text-decoration: none;
    margin-left: 48px;
}
  
footer{
   color:#390788;
   margin:1rem;
}

.iconFooter{
   width: 15%;
   color:#390788;
   margin-left: 22px;
   
}
