.containerMember{/* ✅ */
    height: 100vh;
}

.containerMembersAllCard{  /* ✅ */
    width:100vw;
    display:flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.containerMembersAllCard h2{ /* ✅ */
    margin-top:1rem;
}

.containerUpdateOrganizations{
    width: 80rem;
    margin:1.5rem;
    padding:1rem;
}

.containerTitle{  /* ✅ */
    margin-top:5rem;
    font-size: 1.2rem;
    text-align: center;
}

.membersTitle{  /* ✅ */
    padding-top:5rem;
    font-size: 1.2rem;
    text-align: center;
    color:#fff;
}

.membersHeader{/* ✅ */
    height: 9.7rem;
}

.textArea-Members{
    margin-left: 1rem;
    width: 49rem;
}

.pBtnDesplegableMembers{  /* ✅ */
    font-size: 1.5rem; 
}

.divBtnDesplegableMembers{ /* ✅ */
    display:Flex;
    margin: auto;
    height: 2rem; 
    width: 16rem;
    margin-top:1rem;
}

.iconNetwork{/* ✅ */
    display: block;
    text-align: center;
    font-size: 0.6rem!important;
}