#form-checkout {
  display: flex;
  background-color: rgb(118, 118, 118);
  color:rgb(32, 10, 67);
  border-radius: 0.5rem;
  flex-direction: column;
  max-width: 600px;
  margin: auto;
  padding: 2rem;
}

.container {
  height: 18px;
  display: inline-block;
  border: 1px solid rgb(118, 118, 118);
  border-radius: 2px;
  padding: 1px 2px;
}

#button{
  background-color: chartreuse;
  margin-left:65%;
  width: 10rem;
  border-radius: 0.5rem;
}

input{
  width: 20rem;
}

label{
  width: 10rem;
}

span{
  color:rgb(24, 86, 156);
}

.logoMP{
  width:5rem;
  padding:0.3rem;
  border-radius:1rem;
}

.dataUser{
  width: 45%;
  height: 35rem;
  margin: auto;
  padding:4rem;
  border-radius: 0.5rem;
  background-color:lightgray;
  color:#0c0c0c;
}

.methodText{
  font-style: italic;
  text-transform: capitalize;
}
