.navbar{
    display:flex;
    justify-content: start;
    align-items: center;
    height: 3rem;
    width: 5rem;
    z-index:1;
}

.menu-bars{
    border: none;
    background-color:lightgray;
    cursor:pointer;
    box-shadow: 0 0 0.25rem gray;
    color:#390788;
    font-size: 1rem;
    padding:0.5rem;
}

.menu-bars:hover{
    color:#2abe1d;
    background-color: grey;
}

.nav-menu{
    position: fixed;
    display:flex;
    justify-content: center;
    top:0;
    width:14rem;
    background-color:#2abe1d;
    height: 100vh;
    z-index:100;
    left:-14rem;
    transition: all 500ms linear;
}

.nav-menu.active{
    left:0;
    transition: all 500ms linear;
}

.navbar-toogle{
    display: flex;
    justify-content: start;
    align-items: center;
    list-style: none;
    text-align:start;
    margin:0.1rem 0.5rem 0 -1.3rem;
    padding:0.5rem 0 8px 1rem;
    height: 2rem;
}

.item{
    text-decoration: none; 
    margin-left:1rem; 
    color:#390788; 
}

.item:hover{
    color:#fff;
}

.navbar-searcher{
   list-style: none;
   margin-top:2.3rem;
   margin-right: 0.4rem;
   cursor:pointer;
}

.NavDrop{
    margin:0 0 0 18%;
    width: 40%;
    text-decoration: none;
    color:#390788;
}

.shadowFilterNav{
    filter:drop-shadow(0.13rem 0.06rem 0.06rem #fff)
}
 
.navbarUser{
    margin: -10% 0% -15% 0%;
    list-style: none;
}

.imageUserNavBar{
    width: 40%;
    border-radius: 50%;
    display:block;
    margin: 0 auto;
    color:#390788;
    box-shadow:0.06rem 0 0.13rem 0.06rem whitesmoke;
} 

footer{
   color:#390788;
   margin-top: 70%;
}

.iconFooter{
   width: 12%;
   margin-left:0.3rem;
   color:#390788; 
}

.iconFooter :hover{
   color:#fff;  
} 