.navbar{
    display:flex;
    align-items: center;
    height: 4rem;
    width:100%;
    z-index:1;
    position:fixed;
    background-color: #2d184e;
}

.navbarH1{
    width: 39.7%;
    height: 2.2rem;
    text-align: left;
    align-self: center;
    transition: all 800ms linear;  
}

.navbarH1.active{
    color: #2d184e; 
}

.footer{
    display: flex;
    justify-content: flex-end;
    color:#fff;
    width: 50.5%;
    height: 4rem;
}
 
.iconFooter{
    margin:0;
    color:#fff; 
    width: 2.1rem;
    height: 3.5rem;
    padding:0.4rem 0.5rem 0.4rem 0.4rem;
}
 
.iconFooter :hover{
    color:#2abe1d;
} 

.imgHome{
    width: 3.5rem;
    height: 2.5rem;
    padding:0.2rem;
    align-self: flex-start;
    margin:-0.5rem  5rem 0 0rem; 
    border: 1px solid #2abe1d;
    border-radius: 55%;
    transition: 1000ms ;  
}

.imgHome.active{
 opacity: 0; 
}

.menu-x,
.menu-bars{
    border: none;
    background-color:lightgray;
    cursor:pointer;
    box-shadow: 0 0 0.25rem gray;
    color:#390788;
    font-size: 0.8rem;
    padding:0.5rem;
    margin-left: 2rem;
    margin-top:-1rem;
}
.menu-x{
    width: 1.8rem;
    margin-left: 0.5rem;
    margin-top:1rem;
}

.menu-x:hover,
.menu-bars:hover{
    color:#2abe1d;
    background-color: grey;
}

.nav-menu{
    position: fixed;
    display:flex;
    justify-content: center;
    width:14.5rem;
    background-color:#2abe1d;
    height: 100vh;
    z-index:100;
    left:-14.5rem;
    transition: all 500ms linear;    
}

.nav-menu.active{
    left:0;
    transition: all 500ms linear;
}

.h1NavbarUser{
    margin:0.2rem 0rem 1.5rem 1.5rem;
    font-size: 100%;
}

.navbar-toogle{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    text-align:flex-start;
    margin:0rem 0.5rem 0 -0.8rem;
    padding:0.5rem 0 0.5rem 1rem;
    height: 2rem;
}

.item{
    text-decoration: none; 
    margin-left:0rem; 
    color:#390788; 
}

.item:hover{
    color:#fff;
}

.navbar-searcher{
   list-style: none;
   margin:2.2rem 1.8rem 0 0;
   cursor:pointer;
}

.NavDrop{
    margin:0 0 0 18%;
    width: 40%;
    text-decoration: none;
    color:#390788;
}

.shadowFilterNav{
    filter:drop-shadow(0.13rem 0.06rem 0.06rem #fff)
}
 
.navbarUser{
    margin: -10% 0% -15% 0%;
    list-style: none;
}

.imageUserNavBar{
    width: 25%;
    border-radius: 50%;
    display:block;
    margin: 0 auto;
    color:#390788;
    box-shadow:0.06rem 0 0.13rem 0.06rem whitesmoke;
} 
