.containerNews{
   height: 100%;
   max-width: 100%;
   padding-top: 4rem;
}

.userComments{ 
    background-color: gray;
    border-radius: 1rem;
    padding: 1rem;
    margin-bottom:0.5rem;
}

.imageComment{
   border-radius: 50%;
   width: 7%;
   margin-right: 0.38rem;
}

.dateComment{
   display: flex;
   justify-content: end;
   font-size: 0.63rem;
}