.containerPayment{
    max-width:550px;
   margin: auto;
    background-color: #fff;
 
    
    margin:280px 0px 0px 360px;
    padding: 30px;
    color:black;
    border: 1px solid black;
    transform:
    translateY(-50%);
}

.buttonSuccess{
    background-color:#03791a;
    color:#fff;
    width:20%;
    height:32px;
    font-weight: bold;
    line-height:30px;
    cursor:pointer;
    padding: 1px;
}
