body{ 
    display: flex;
    justify-content: center; 
    width:100%;
    background-color:rgb(26, 26, 26);
    /* background-image:url('C:\Users\Asus\Desktop\SomosMas_NodeReact\FrontEnd\src\components\images\manos_fondo1.jpg') ; */
}

.navBar {
    background-color:#0e0d0d !important;
    padding:0.2rem 3rem 0.2rem 3rem;
    font-size: 18px;
}
 
.footer{
    background-color:#0e0d0d !important;
    padding:1rem 3rem 0.5rem 3rem;
    font-size: 12px;
    height:3rem;
}

.footerNavBrand {
    font-size: calc(2px + 0.7rem);
    display: flex;
    justify-content: center;
}

.container{
    display:flex;
    position:relative;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 3px;
    margin-top: 2%;  
}

.containerSearchNews{
    height: 34rem;
    width: 85rem;
    margin: auto;
    margin-top: -1rem;
    margin-bottom: -5rem;
}

.containerSlideSize{
    height: 38rem;
    width: 85rem;
    margin: auto;
    margin-top: -3rem;
}

.containerLogin{
    height: 27rem;
    width: 35rem;
    margin: auto;
    margin-top: 3rem;
    padding: 20px;
    background-color: lightgrey;
}

.containerMembersAllCard{
    width: 100%;
    display:flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    align-items: center;
}

.containerUpdateCreate{
    width: 45rem;
    margin:2rem;
    padding:1rem;
    justify-content: center;
    align-items: center;
}


 .imageCharCard{
    display:flex;
    margin:auto;
    height:10rem; 
    width: 20rem;
} 


.imageChar{
    display:flex;
    margin:auto;
    height:100px; 
}


.imageActivity{
    display: block;
    justify-content: center;
    margin:auto;
    width: 38rem;
    height: auto;
    border-radius: 10px;
}

.iconMapPhoneMailFooter{
    width: 2.5%;
}

.iconFacebookInstagramFooter{
    width: 39%;
}


.boton
.tituloListado{
    background-color: aqua;
    text-align: center;  
}

.btn{
    text-align: center;
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    height: 29px;
    font-size: 14px;
    margin-top:4px;   
}

.btnShowPassword{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: transparent;
    color:#fff;
    height: 1.5rem;
    padding:10px;
    font-size: 12px;
    margin-top:10px; 
    background-color: #2892fd;

}

.titleItem{
    color:#fff;    
    font-size:calc(1px + 1rem) ;
    text-align: center;
    height:0.3rem;
}

/* .grupoBoton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top:20px;
} */

/* .GrupoBtn{
    display:flex;
    flex-direction:column;
}


.Btn {
    height:35px;
    background-color:wheat;
    border-radius:5px;
    font-size:16px;
    margin-top:30px;
} */

h1{
    font-size: 25px;
    text-align: center;
    color:#fff;
}


.renglonBtn{  
    color: #fff;
    text-align: center;  
}


/* .lineAllClient{
    display: flex;
    padding-top:50px;
    margin-left:10px;
    width:70%;  
} */


/* .modifBtn{  
    color: white;
    text-align: center;  
    border-radius: 5px; 
} */

/* .eliminaBtn{  
    text-align: center;  
    border-radius: 5px; 
} */


/* h5{
    margin-left:500px;
}

.modifH5{
    margin-left:390px;
}

.modifInput{
    margin-left:260px;
} */

/* .botonNuevo{
    margin-left: 25%;
} */

/* .castillo{
   display: flex;
   margin: auto;
   width: 34%;
   height: 24%;
} */

/* .bienvenidos{
   color:whitesmoke;
   font-size: 340%;
   margin: auto;
} */

/* .imagen-fluid, .nav-link{
   margin-left: 50px;
   margin-right:1px;
}

.logout{
    color:whitesmoke;
    background-color:transparent;
    font-size: 20px;
    margin-right: 30px;
    width: 7%; 
    height: auto;
} */

.login {
    color:#fff;
    background-color:transparent;
    font-size: 20px;
    width: 7%;
    height: auto; 
}

.margenEnd{
    margin-left: 20%;
    font-size: 12px;
}

.centerContainer{
    display: flex;
    justify-content: center;
}

.photo{
    width: 40%;
    margin-left:25%;  
}

.fontNotBold{
    font-weight: normal ;
}

.marginTop-30{
    margin-top:-30px;
}

/* .eneable{
    opacity:1;
}

.disable{
    opacity:0;
}  */

.displayInLineFlex{
    display:inline-flex;
}

.pUpdateCateg{
    margin-left: 14px;
    color:black;
}


/* .box-carrito{
    margin-top:45px;
} */

.google{
    margin-left: 75%;
}

.loadingBox{
    margin-left: 35rem;
    margin-top: 12rem;
}

.widthDate{
    width:10rem ;
}

.widthTestimonialsAndComments{
    width:50rem ;
    margin-left: 4rem;
    /* background-color:whitesmoke; */
    padding: 7px 5px 5px 12px;
}

/* .btn-redes{
    color:#7d8289;
    font-weight: 200;
    height: 40px;
    font-size: 85%;
    background-color:white;
    border:none  ;
    box-shadow: 0.1px 1px 1px 0.2px rgb(181, 181, 181);
    padding:9px;
    margin-top: 16px;
}

.capitalize{
    text-transform: capitalize !important;
  }

.cardPlaceOrder{   
    height: auto;
    width: auto;
    margin-left: 3rem;
  } */

  /* .img-cart{
    width:30%;
    height: 30%;
  }*/

  .imgSearchNews{
    width:70%;
    height: 70%;
  }

  .imgTestimonialsAndComments{
    margin-left: 50%;
    width:40%;
    height: 90%;    
    margin-top: 0.5rem;
  }

  /* .cart-titulo{
    text-align: left;
    margin-left:33%
  }

  .cart-total-button{
    display: inline-flex;
    align-items: center;
  } */ 

.displayFlex{
    display:Flex;
}

/* .responsive{
    display:flex;
    flex-wrap: wrap;
}

.itemResponsive{
    flex: 150px  1   ;
}*/

.text{
    margin:auto;
    color:#fff;
    margin-top:-1%;
}

/* .textTitulo{
    color:black;
    margin-left:3rem;
}  */

/* .btnNvo{
    margin-left:53rem;
    margin-top:-3.5%;
}

.divBtnDesplegable{
    display:inline-block;
    text-align:center;
    height:5rem;
} */

.pBtnDesplegable{
    margin-bottom:-0.5rem;
    margin-left: 0rem;
}

.divBtnDesplegable{
    display:Flex;
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3.5rem;
}


.divBtnDesplegableOrganizations{
    display:Flex;
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: -2.5rem;
}

.selectBtnDesplegable{
    background-color:#fff;
    color:black;
    width:20rem;
    height:30px;
    margin-left: -10px;
    font-size: 12px;
}

.marginCero{
    margin-left:0;
}

/* .lineAll{
    margin:auto;
    width:90%;  
}*/

.visible{
    display: block;
}

.invisible{
    display: none;
}

.productDescrip{
    width:max-content;
}

/* .justify{
    text-justify: baseline;
}

.lineAllCategory{
    margin:auto;
    width:50%;  
}



.medio{
    margin-left: 20%;
} */ 

.searchAlign{
    text-align: left;
    margin: 0;
}


/* .ancho{
    min-width: 300px;
} */

/* .btnBuscaxPeli{
    display:inline-block;
    text-align:center;
    margin:auto;
    height:5rem; 
}

.colorWhitesmoke{
    color:whitesmoke;
}

.bgWhitesmoke{
    background-color:whitesmoke;
} */

/* .containerAllMovie{
    display:inline-block;
    margin:auto;
}

.h1AllMovie{
    color:whitesmoke;
}

.btnNvoAllMovie{
    margin-left:4rem;
}

.marginAutoWidthAuto{
    margin:auto;
    width:auto;
} */

/* .margen{
    margin-left: 1.3%;
    margin-right: 1.3%;
}

.containerEditChar{
    width:59rem;
    margin:auto;
    background-color:whitesmoke;
    box-shadow:3px 0px 5px 3px grey; 
}*/

.containerEditGender{
    width:32rem;
    height:auto;
    margin:auto;
    background-color:rgb(26, 26, 26);
    box-shadow:3px 0px 5px 3px grey; 
}
/*
.divEditChar{
    margin-left:3rem;
    margin-bottom:0.5rem;
}

.list-group-flush{
    margin:auto;
    width:20rem;
    display:flex; 
} */

/* .list-group-flush-char{
    margin:auto;
    display:flex; 
} */

.list-group-char{
    margin:1rem;
    width:29rem;
    display:block; 
}

/* .list-group-movie{
    margin:1rem;
    width:59rem;
    display:block; 
}

.div-input-edit-char{
    display:block;
    margin-left:4.5rem;
    padding:0.5rem; 
    text-align: center;
}
*/
.colorBlack{
    color:black;
}

.card-text-edit-gender{
    margin:auto;
    height:auto;
}

/* .containerEditMovie{
    width:54rem;
    margin:auto;
    box-shadow:3px 0px 5px 3px grey; 
}

.fotoEditMovie{
    margin-left:7rem;
    height:8rem;
    width: 6rem;
    margin:auto;
}

.list-group-editMovie{
    margin:auto;
    width:24rem;
    display:flex; 
} */

.row{  
    width:19rem ; 
}

.rowNro{
    text-align: center;
    width:5% ; 
}

.rowTestimonialsAndComments{  
    width:35rem ;   
    margin-left: 2rem;
    background-color:rgb(212, 218, 245);
}

/*
.inputMovie{  
    width:13rem ;   
} */

/* .inputMovie-artistas{  
    width:46rem ;   
}

.fotoEdit{
    display:flex;
    margin-left:5rem;
    width:5rem;
    height:6rem;
    box-shadow:1px 0px 5px 2px grey;
}

.pEdit{
    font-size: 110%;
    color:dimgray
} */

/* .botonPagar{
    margin:10px;
    color:green;
    font-size: 20px;
    padding: 10px;
    border-color: white;
    box-shadow:3px 0px 5px 3px grey; 
}

.botonQuitarLimpiar{
    margin:10px;
    color:red;
    font-size: 20px;
    padding: 10px;
    border-color: white;
    box-shadow:3px 0px 5px 3px grey; 
} */


/* .botonResiduos{
    font-size:25px;
    color:red;
    border-color:white;
    margin-left: 1rem;
    margin-left:45px;
    align-items: center;
    text-align: center;

}

.thead-carrito{
    text-align: center;
} */

/* .botonAgregar{
    font-size:10px; 
    color:green;
    border:none;
    box-shadow:3px 0px 5px 3px grey;
}


.marginCarrito{
    padding:25px;
    margin-left:45px;
    text-align: justify;
} */

.center{
    margin:auto;
}

.marginLeft{
    margin-left: 50%;
}

.errorText-input-update{
    margin:30px !important;
    margin-top:0 !important;
}

.centerText{
    text-align: center;
    justify-content: center;
}

.colorWhite{
    color:#fff !important;
}

.textArea{
    border-radius: 3px;
    border-color: #fff;
    padding: 5px;
}

.textArea:focus{
    border-color:#0616fc;
}


/* .boton{
    margin-left: 10%;
}

.imagenGender{
    display:flex;
    margin:auto;
    height:6rem;
    width: 19rem; 
} */


/* .renglonLine{ 
    margin-right:1rem;
    margin-left:1rem; 
}

.box-card{
    height: auto;
    min-height: 380px;
} */

/* repetida */
/* .display{
    display: block;
} */

.alinear{
    margin-left:-10px;
}

.tablaPedidos{
    margin:auto;
    width: 90%;
}

.backgroundDark{
    background-color: rgb(37, 38, 38);
}

.bgGrey{
    background-color: rgb(53, 53, 53);
}

.bgOrange{
    background-color: #be6607;
}

.inputUpdateWidth{
    width: 95%;
    padding-left: 20px;
}


.inputCreateWidth{
    margin-top: -2rem;
    width: 100%;
    padding-left: 20px;
}

.containerBorderWhiteBgGrey{
    border:1px solid #fff;
    background-color:rgb(56, 55, 55);
    box-shadow:1px 0px 5px 1px whitesmoke;
    font-size: 16px;
    border-radius: 25px;
    font-size: 17px !important;
} 

/*
.containerFijo{
    margin-top: 2.7%;
  }
  
  .card-list{
     margin-left: 1rem;
     margin-right: 1rem; 
  }
  
  .card-dimentions{
      width: 23rem;
      height: auto;
      font: 0.1rem sans-serif;
      display:inline-flex;
      margin-right: 1rem;
  } */
  
  /* .cardOne{
      margin-top: 3.7%
  }
  
  .nombreTitulo{
      width: auto;
  }
  .listMovie{
      margin-left: -20%;
      margin-top: 3.7%;
  }
  
  .list-dimentions{
      width: auto;
      height: auto;
  } */
  
  /* repetida */
.displayBlock{ 
    display: block;
}
  
  /* .movies-list{
      background-color: whitesmoke;
      width: 100%;
      box-shadow:3px 0px 5px 3px grey; 
  }
  
  .centrar-thead{
      text-align: center;
      border:1px solid grey;
      margin-left: 10px;
      margin-right: 10px;
  } */
  
  /* .centra-dato{
      font-size: medium;
      text-align: center;
      border:1px solid grey;
      margin-left: 10px;
      margin-right: 10px;
      width: auto;
  }
    
  .ancho{
      width: 10%;
  }
   */
    
.imageSmall{
    width:10%;
 }

.imageMyProfile{
    width: 18%;
}


  /* .h2{
      color:black;
      font-size: 140%;
      background-color:whitesmoke;
      text-align: center;
      width: 100%;
      height:auto;
      box-shadow:3px 0px 5px 3px grey; 
  }
  
  .textWhite{
      color:white;
  } */

.homeBgImage {
    margin:auto;
    margin-top:2rem;
    width: 100%;
}

.handsLogo{
    width: 8%;
}

.borderRounded{
    border-radius:15px;
}

.boxShadow{
    box-shadow:0px 0px 0px 2px grey;
}

.buttonBlue{
    background-color:#1E90FF;
    color:#fff;
    width:20%;
    height:32px;
    font-weight: bold;
    line-height:30px;
    cursor:pointer;
    padding: 1px;
}

.buttonBlue:hover {
    color:#fff;
    background-color:rgb(2, 117, 216); 
}

.colorGrey{
    color: rgb(53, 53, 53);
}

.btn-derecha{
    margin-left: 70%;
}

.stripe{
    width: 30%;
    border:1px solid #687ea3;
    padding:15px;
    border-radius: 10px;
}
 

  
/* .rating span {
 color:#cac035
} */

/* .img-large{
  max-width: 70%;
} */

/* .cardOneProduct{
  height: 27%;
  width: 80%;
  box-shadow: none;
  margin-top: 16%;
}

.oneProductStatus{
  margin-top: 25%;
} */


/* .img-thumbnail{
  height: 80px;
} */


 /* .products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
} */

/* .product {
  border: 1px #404040 solid;
  margin: 1rem;
  text-align: center;
  height: 26rem;
} */

/* .product img {
  width: 85%;
  max-width: 400px;
  height:15rem;
}  */

/* .product-info {
  padding: 1rem;
} */

/* .product-img {
  padding: 3rem;
} */

/* .btn-primary{
  border-radius: 5px 5px 5px 5px;
  border: 1px #404040 solid;
  margin-left: 35%; 
  background-color: #f0c040;
  color:#000000;

} */



.bgWhite{
    background-color: #fff;
}

.textBtnDesplegableCenter{
    margin-top:1.2rem;
}

.marginLeft25px{
    margin-left: 25px;
}

.textArea-Members{
    margin-left: 15px;
    width: 49rem;
}

.marginLeft10px{
    margin-left: 10px;
}

.marginLeft40px{
    margin-left: 40px;
}


.marginRigth-80px{
    margin-left: -80px;
}

.centerHorizontally{
    display:flex;
    justify-content:center;
}

.contactFormName{
    margin:230px 0px 0px 430px;
}

.contactFormPhone{
    margin:345px 0px 0px 430px;
}

.contactFormEmail{
    margin:460px 0px 0px 430px;
}

.pBtnDesplegableMembers{
    font-size: 1.5rem;
    margin-bottom:1rem;
    background-color: #be6607;
}

.font2rem{
    font-size: 2rem;
}


.font1-5rem{
    font-size: 1.5rem;
}

.labelWidthContactForm{
    display: inline-block;
    width:12rem;
    text-align: left;
}

.userComments{
    background-color: gray;
    border-radius: 10px;
    padding: 10px;
    margin-bottom:8px;
}

.imageComment{
   border-radius: 50%;
   width: 7%;
   margin-right: 6px;
}

.dateComment{
   display: flex;
   justify-content: end;
   font-size: 10px;
}
