*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-size:16px;
    width: 100vw;  
} 

.containerBasic{
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
    height: auto;
    /* margin: 0px auto;    */
    background-color:rgb(32, 10, 67);
    color:#fff;
}

.containerAbout{
    margin-top:-3rem;
}

.loadingBox{
    margin-left: 35rem;
    margin-top: 12rem;
}

.buttonBlue{
    background-color:#1E90FF;
    color:#fff;
    width:20%;
    height:2em;
    font-weight: bold;
    line-height:1.87em;
    cursor:pointer;
    padding: 1px;
}

.buttonBlue:hover {
    color:#fff;
    background-color:rgb(3, 82, 151); 
}

.buttonGreen{
    background-color:#198754;
    color:#fff;
    width:20%;
    height:2em;
    font-weight: bold;
    line-height:1.87em;
    cursor:pointer;
    padding: 1px;
}

.buttonGreen:hover {
    color:#fff;
    background-color:rgb(2, 52, 32); 
}

.displayInLineFlex{
    display:inline-flex;
}

.containerMyPerfil{
    width:44%;
    margin:auto;
    display:flex;
    flex-direction: column; 
    position: relative;
    justify-content: center;
    padding:0.5rem;
    background-color: lightgrey;
    color:black;
    border-radius: 15px;
}

.containerUpdateCreate{
    width: 45rem;
    margin:2rem;
    padding:1rem;
    justify-content: center;
    align-items: center;
}

.containerBorderWhiteBgGrey{
    border:1px solid #fff;
    background-color: lightgrey;
    color:black;
    /* box-shadow:1px 0px 5px 1px whitesmoke; */
    font-size: 1em;
    border-radius: 12px;
    /* font-size: 17px !important; */
    margin-top:1.4rem;
} 

.imageCharCard{
    display:flex;
    margin:auto;
    height:0.62em; 
    width: 1.25em;
} 

.imageChar{
    display:flex;
    margin:auto;
    height:100px; 
}

.boton
.tituloListado{
    background-color: aqua;
    text-align: center;  
}

.btn{
    text-align: center;
    color:#fff;
    text-decoration: none;
    border: 1px solid #fff;
    height: 29px;
    font-size: 14px;
    margin-top:4px;   
}

/* .btnShowPassword{
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: transparent;
    color:#fff;
    height: 1.5rem;
    padding:10px;
    font-size: 12px;
    margin-top:10px; 
    background-color: #2892fd;
} */

.titleItem{
    color:#fff;    
    font-size:calc(1px + 1rem) ;
    text-align: center;
    height:0.3rem;
}

h1{
    font-size: 25px;
    text-align: center;
    color:#fff;
}

.renglonBtn{  
    color: #fff;
    text-align: center;  
}

/* .modifBtn{  
    color: white;
    text-align: center;  
    border-radius: 5px; 
} */

/* .eliminaBtn{  
    text-align: center;  
    border-radius: 5px; 
} */


.margenEnd{
    margin-left: 35%;
    font-size: 12px;
}

.marginBottom05rem{
    margin-bottom: 0.9rem;
}

.leftText{
    text-align: left;
    margin-left: 2rem;
}

.centerContainer{
    display: flex;
    justify-content: center;
}

.photo{
    width: 40%;
    margin-left:25%;  
}

.fontNotBold{
    font-weight: normal ;
}

.marginTop-30{
    margin-top:-30px;
}

.pUpdateCateg{
    margin-left: 14px;
    color:black;
}

.pEmailRegisterUserUpdate{
    margin-left: 48.5%;
    padding:5px;
    height: 25px;
    position:absolute;
    border-radius: 10px;
}

.widthDate{
    width:10rem ;
}

/* .btn-redes{
    color:#7d8289;
    font-weight: 200;
    height: 40px;
    font-size: 85%;
    background-color:white;
    border:none  ;
    box-shadow: 0.1px 1px 1px 0.2px rgb(181, 181, 181);
    padding:9px;
    margin-top: 16px;
}

*/ 
.displayFlex{
    display:Flex;
}

.text{
    margin:auto;
    color:#fff;
    margin-top:-1%;
}

.pBtnDesplegable{
    margin-bottom:-0.5rem;
    margin-left: 0rem;
}

.divBtnDesplegable{
    display:Flex;
    width: auto;
    height: 4rem;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 3.5rem;
}

.selectBtnDesplegable{
    width:17rem;
    height:2rem;
    font-size: 12px;
    background-color:#fff;
    color:black;
}

.marginCero{
    margin-left:0;
}

.visible{
    display: block;
}

.invisible{
    display: none;
}

.productDescrip{
    width:max-content;
}

.containerEditGender{
    width:32rem;
    height:auto;
    margin:auto;
    background-color:rgb(26, 26, 26);
    box-shadow:3px 0px 5px 3px grey; 
}

.list-group-char{
    margin:1rem;
    width:29rem;
    display:block; 
}

.colorBlack{
    color:black;
}

.card-text-edit-gender{
    margin:auto;
    height:auto;
}

.row{  
    width:19rem ; 
}

.rowNro{
    text-align: center;
    width:5% ; 
}

.fotoEdit{
    display:flex;
    margin-left:5rem;
    width:5rem;
    height:6rem;
    box-shadow:1px 0px 5px 2px grey;
}

.pEdit{
    font-size: 110%;
    color:dimgray
} */

/* .botonPagar{
    margin:10px;
    color:green;
    font-size: 20px;
    padding: 10px;
    border-color: white;
    box-shadow:3px 0px 5px 3px grey; 
}
.botonQuitarLimpiar{
    margin:10px;
    color:red;
    font-size: 20px;
    padding: 10px;
    border-color: white;
    box-shadow:3px 0px 5px 3px grey; 
} */


/* .botonResiduos{
    font-size:25px;
    color:red;
    border-color:white;
    margin-left: 1rem;
    margin-left:45px;
    align-items: center;
    text-align: center;
}
 */

/* .botonAgregar{
    font-size:10px; 
    color:green;
    border:none;
    box-shadow:3px 0px 5px 3px grey;
}
*/

.center{
    margin:auto;
}

.marginLeft{
    margin-left: 50%;
}

.errorText-input-update{
    margin:30px !important;
    margin-top:0 !important;
}

.errorText-myProfile-update{
    margin-left:0rem !important;
}

.centerText{
    text-align: center;
    justify-content: center;
}

.colorWhite{
    color:#fff !important;
}

.colorGrey{
    color:#444!important;
}

.textArea{
    border-radius: 3px;
    border-color: #fff;
    padding: 5px;
}

.textArea:focus{
    border-color:#0616fc;
}

.alinear{
    margin-left:-10px;
}

.tablaPedidos{
    margin:auto;
    width: 90%;
}

.backgroundDark{
    background-color: rgb(37, 38, 38);
}

.bgGrey{
    background-color: rgb(53, 53, 53);
}

.bgOrange{
    background-color: #be6607;
}

.inputUpdateWidth{
    width: 95%;
    padding-left: 20px;
}

.inputCreateWidth{
    margin-top: -2rem;
    width: 100%;
    padding-left: 20px;
}
 
.displayBlock{ 
    display: block;
}  
    
.imageSmall{
    width:10%;
 }

.imageSmallUpdateForm{
    width:12%;
    margin-left:-26rem
}

.imageMyProfile{
    width: 40%;
    margin-top:-2rem;
    border-radius: 50%;
}


.borderRounded{
    border-radius:15px;
}

.boxShadow{
    box-shadow:0px 0px 0px 2px grey;
}


.buttonLight{
    background-color:whitesmoke;
    color:#1E90FF;
    margin: 0px;
    width:10%;
    height:25px;
    font-weight: bold;
    font-size: 12px;
    line-height:12px;
    cursor:pointer;
}

.colorGrey{
    color: rgb(53, 53, 53);
}

.colorTransparent{
    color: transparent;
}

.btn-derecha{
    margin-left: 70%;
}

  
/* .rating span {
 color:#cac035
} */

/* .img-large{
  max-width: 70%;
} */

/* .cardOneProduct{
  height: 27%;
  width: 80%;
  box-shadow: none;
  margin-top: 16%;
}
.oneProductStatus{
  margin-top: 25%;
} */


/* .img-thumbnail{
  height: 80px;
} */

.bgWhite{
    background-color: #fff;
}

.textBtnDesplegableCenter{
    margin-top:1.2rem;
}

.marginLeft25px{
    margin-left: 25px;
}


.marginLeft10px{
    margin-left: 10px;
}

.marginLeft40px{
    margin-left: 40px;
}


.marginRigth-80px{
    margin-left: -80px;
}

.centerHorizontally{
    display:flex;
    justify-content:center;
}


.font2rem{
    font-size: 2rem;
}

.font1-5rem{
    font-size: 1.5rem;
}

.font12px{
    font-size: 12px;
}

.font10px{
    font-size: 10px;
}

.labelWidthForm{
    display: inline-block;
    width:12rem;
    text-align: left;
}

.defaultValueWidthForm{
    margin-left:-4.5rem;
}

.inputImageHeightForm{
    height: 20rem;
}


