/* About*/
@media only screen  and (min-width:1150px) { /* ✅ */
    .cardAbout{
        font-size: 2.2vh!important;
    }

    .containerRegisterContactForm{
        width: 51%;
    }
}

/* Home , Navbar*/
@media only screen  and (max-width:1150px) { /* ✅ */
    .containerHome{
        display: block; 
        margin: auto ;
        padding: 1rem 1rem 1rem 1rem ;
    }
    .sliderHome,
    .containerLeft{
        width: 100%;   
    }

    .navbar{
        justify-content:left;
    }

    .navbarH1{
        width: auto;
        margin-left: 1rem;
    }

    .margenEnd{
        margin-top:1rem;
        margin-left:15%;
        display:block; 
    }

    .pEmailRegisterUserUpdate{
        margin-left:10%;
        margin-bottom:1rem;
    }

    .containerImgHalfScreen,
    .imgHome,
    .footer{
        display:none;
    }

    .listAbout,
    .buttonsResponsive,
    .containerAddress{
        display: block;
    }

    
    
    .containerLogin,
    .imageActivity{
        width: 90%;
    }
    
    .buttonBlue{
        margin:0.1rem;  
    }
    
} 

/* Create Testimonial */
@media only screen  and (max-width:829px) { /* ✅ */
    .buttonsResponsive{
        display:block;
        margin: auto;
    } 
    
    /* form .textArea{
        width: 100%;
    } */
} 


/* para formulario de contacto y formulario de registro*/
@media only screen  and (max-width:1024px) {
    
    form .displayInLineFlex{
        display:block;
    }

    
    form .form-control{
        width: 100%;
        margin:auto;
        font-size: 0.55rem;
    }

    form .form-image{
        width:100%;
        margin:auto;
    }

}


/* @media only screen  and (min-width: 630px) and (max-width: 920px) {
    table {
        width: 100%;
    }

    encolumna btn filtros
    div:nth-child(2){
        display:block;
    }

    Ocultar imagen
    table tr th:nth-child(2),
    table tr td:nth-child(2){
       display:none;
   }
 
    Ocultar descripcion, o contenido  o emailUser
    table tr th:nth-child(4),
    table tr td:nth-child(4) {
        display: none;
    }
} */

/* para formulario de contacto y formulario de registro
@media only screen and (max-width: 632px) {
    form .form-control{
        width:100%;
        margin:auto;
    }

    form .textArea{
        width:100%;
        
    }

    form .form-image{
        width:90%;
        margin-left:1.6rem;
    }

    form .button{
        display:block;
        margin:auto;
    }
    
}*/
/*
@media only screen and (min-width: 578px) and (max-width: 629px) {
    encolumna btn filtros
    div:nth-child(2){
        display:block;
    }

    Ocultar imagen
     table tr th:nth-child(2),
     table tr td:nth-child(2){
        display:none;
    }

     Ocultar descripcion, o contenido  o emailUser
     table tr th:nth-child(4),
     table tr td:nth-child(4) {
         display: none;
    }
     
     Ocultar creada
     table tr th:nth-child(5),
     table tr td:nth-child(5) {
        display: none;
    }

    para formulario de contacto y formulario de registro
    form .displayInLineFlex{
        display:block;
    }

    form .textArea{
        width: 100%;
        margin:auto;
    }

    form .form-control {
        width: 100%;
        margin:auto;
    }

    form .form-image{
        width: 100%;
        margin:auto;
    }

    form .button{
        display:block;
        margin:auto;
    }
    form .inputSearcher{
        width: 95%;
    }
}
 

@media only screen and (min-width:481px) and (max-width: 577px) {
    encolumna btn filtros
    div:nth-child(2){
        display:block;
    }
 
    Ocultar imagen
     table tr th:nth-child(2),
     table tr td:nth-child(2){
        display:none;
    }

    Ocultar descripcion
    table tr th:nth-child(4),
    table tr td:nth-child(4) {
        display: none;
    }  
     
     Ocultar creada
     table tr th:nth-child(5),
     table tr td:nth-child(5) {
        display: none;
     }


    Ocultar actualizada
    table tr th:nth-child(6),
    table tr td:nth-child(6) {
       display: none;
    }

    encolumna btn modificar y eliminar
    table tr th:nth-child(7),
    table tr td:nth-child(7) {
        display:block;
    }

    para formulario de contacto y formulario de registro
    form .displayInLineFlex{
        display:block;
    }

    form .form-control{
        width:100%;
        margin:auto;
    }

    form .form-image{
        width:100%;
        margin:auto;
    }

    form .textArea{
        width:100%;
        margin:auto;
    }

    form .button{
        display:block;
        margin:auto;
    }
    form .inputSearcher{
        width: 95%;
    }
}*/

/* para formulario de contacto y formulario de registro
@media only screen  and (max-width: 480px) {
    form .displayInLineFlex{
        display:block;
    }

    form .form-control{
        width:100%;
        margin:auto;
    }

    form .textArea{
        width: 100%;
    }

    form .form-image{
        width:100%;
        margin:auto;
    }

    form .buttonSendButton {
        display:block;
        width: 100%;
    }

    form .buttonLink{
        display:block;
        width: 100%;
    }
    form .inputSearcher{
        width: 95%;
    }
}
*/
/* para formulario de contacto y formulario de registro
@media only screen and (min-width:210px)  and (max-width:379px) {
    form .displayInLineFlex{
        display:block;
    }

    form .form-control{
        width:50%;
        margin:auto;
    }

    form .textArea{
        width: 50%;
    }

    form .form-image{
        width:50%;
        margin:auto;
    }

    form .buttonSendButton {
        display:block;
        width: 90%;
    }

    form .buttonLink{
        display:block;
        width: 90%;
    }
    form .inputSearcher{
        width: 90%;
    }
    
}
*/