.buttonTestimonials{ /* ✅ */
    padding-top: 4.5rem;
    text-align: center;
    margin:auto;
}

.imgTestimonialsAndComments{  /* ✅ */
    width:10rem;
    margin:1rem;
}

.imageUserTestimonials{
    width: 7%;
    height:5%;
    margin:-1.6rem 1rem 0rem 0rem;
    border-radius: 50%;
}

.pTestimonialsPublic{
    width: 30rem;
}

.widthTestimonialsAndComments{
    width:50rem ;
    margin-left: 4rem;
    padding: 7px 5px 5px 12px;
}

.containerTestimonialCreate{
    max-width:41rem;
    height: 29rem;
    margin: 5rem auto;
    padding:1rem;
    background-color: lightgray;
    border-radius: 1rem;
    color:black;
}

.h3CreateTestimonials{
    color:#fff;
    text-align: center;
    margin-top: 10rem;
}

