@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  font-family: "UnifrakturMaguntia", cursiva;
}

.contenedorApp {
  height: 640px;
}

.App-logo {
  border: transparent;
  height: 3.7%;
  width: 3.7%;
  margin: 12px;
  padding: 1px;
  background-color: #ffd6ae;
  border-radius: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3c4657;
  width: 100%;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: #ffd6ae;
}

.tituloHeader,
.subtituloHeader {
  width: 100%;
  height: 100%;
  margin-left: 225%;
  margin-top: -30px;
  justify-content: center;
}

p {
  font-size: calc(4px + 1rem);
  margin-left: 1%;
  margin-top: 2.3%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 1366px) {
  .App-logo {
    margin-top: 13px;
  }

  .tituloHeader,
  .subtituloHeader {
    font-size: 25px;
    margin-left: 205%;
  }
}

.footer-p{
  font-size: small;
}

.stripe{
  width: 30%;
  border:1px solid #687ea3;
  padding:15px;
  border-radius: 10px;
}
